//Color
$black: #1A2421;
$white: #fffff0;
$aqua: #36e2e2;
// $header-footer-dark: #6400AE; //#344634;
$header-footer-dark: #3C0A61; //#344634;
$purple: #663399;
$blue: #f0f8ff;
$base-button-bck: #3cb75c;

$spinner-blue: #71d0e7;
$spinner-green: #84e028;

//Font-Size
$h1: 2rem;
$h2: 1.5rem;
$h3: 1.1rem;
$h4: 1rem;
$h5: 0.8rem;
$h6: 0.6rem;


//Distance
//Distance between the content and the side window
$distance-window: 1.5rem;
//Distance between each block
$distance-block: 2rem;

//Card's box-shadow
$box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.26);